.no-mg {
  margin: 0 !important;
}

.no-mg-t {
  margin-top: 0 !important;
}

.no-mg-b {
  margin-bottom: 0 !important;
}

.no-mg-l {
  margin-left: 0 !important;
}

.no-mg-r {
  margin-right: 0 !important;
}

.mg-b-xs {
  margin-bottom: 4px !important;
}

.mg-b-sm {
  margin-bottom: 8px !important;
}

.mg-b-md {
  margin-bottom: 12px !important;
}

.mg-b-lg {
  margin-bottom: 16px !important;
}

.mg-b-xl {
  margin-bottom: 24px !important;
}