.no-pd {
  padding: 0 !important;
}

.no-pd-t {
  padding-top: 0 !important;
}

.no-pd-b {
  padding-bottom: 0 !important;
}

.no-pd-l {
  padding-left: 0 !important;
}

.no-pd-r {
  padding-right: 0 !important;
}

.pd-l-10 {
  padding-left: 10px;
}