//------------------------------------
//    $Section
//------------------------------------

.section {
  border-left-style: solid;
  border-left-width: 1px;
  border-left-color: #e2e3e5;
  border-right-style: solid;
  border-right-width: 1px;
  border-right-color: #e2e3e5;
}